<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>
        <a href="https://github.com/rickschmoo/richardboardman-home">
            {% icon "github" %}src
        </a>
    </div>
</footer>