---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container" >
    <h1>Richard (Rick) Boardman PhD</h1>
    
    <div>

    <p class="text-paragraph" style="margin-top: 50px;">
      Hi. My day job is managing the world-class Product Accessibility team at Salesforce in San Francisco.

    <p class="text-paragraph">
      Accessibility is all about making sure EVERYONE can use whatever you are building, specifically including
      people with disabilities who are far too often overlooked. Since this group includes pretty much all of us
      at some point of our lives, Accessibility is a Big Deal.
    </p>

    <p class="text-paragraph">
      The customizable web platforms we build are incredibly complex, on a par with the desktop operating systems
      of not too long ago.  It's great to have a job with such positive impact and innovation potential. 
    </p>

    <p class="text-paragraph">
      Beyond people and program management, I try to stay hands-on with technology
      (hence the state of this eternally evolving website - currently built using
      <a href="https://www.11ty.dev">11ty.dev</a>, <a href="https://github.com/maxboeck/eleventastic">eleventastic</a>,
      and <a href="https://app.netlify.com">netlify</a>). I've worked in pretty much every aspect of the UX end of web development - except Visual Design (see this website).
    </p>

    <p class="text-paragraph">
      Beyond Tech, there's family, Star Wars and getting out and about.
      I used to travel and go to lots of concerts too. Hopefully that will restart soon ;)
    </p>

    <p class="text-paragraph">
      Rick, Jan 2021.
    </p>

    <p class="text-paragraph" style="margin-top: 50px;">
      Here are some links:
    </p>

    </div>
    
    <div>
      <ul class="ul-content">
        <li><a href="https://www.linkedin.com/in/richardboardman/">linkedin.com/in/richardboardman</a></li>
        <li><a href="https://twitter.com/uxrick">twitter.com/uxrick</a></li>
        <li><a href="https://github.com/rickschmoo">github.com/rickschmoo</a></li>
        <li><a href="https://www.meetup.com/SF-Star-Wars-Meetup/">San Francisco Star Wars Meetup</a></li>
        <li><a href="https://github.com/rickschmoo/phd-thesis-cross-tool-pim-2004">PhD</a>
        (from 2004 but still surprisingly relevant, that is if you are excited about information overload
        and personal information management)</li>
      </ul>
    </div>

    <div class="text-paragraph" style="margin-top: 50px; margin-bottom: 50px;">
      If you'd like to get in touch, please drop me a DM in Twitter, or message me through Linkedin. Stay well. 
    </div>


</div>
