---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container">
    <h1>Richard (Rick) Boardman PhD</h1>
    
    <div class="text-paragraph">
      Hi. Here are some links:
    </div>
    
    <div>
      <ul class="ul-content">
        <li><a href="https://www.linkedin.com/in/richardboardman/">linkedin.com/in/richardboardman</a></li>
        <li><a href="https://twitter.com/uxrick">twitter.com/uxrick</a></li>
        <li><a href="https://github.com/rickschmoo">github.com/rickschmoo</a></li>
        <li><a href="https://github.com/rickschmoo/phd-thesis-cross-tool-pim-2004">PhD</a></li>
      </ul>
    </div>


    <div class="text-paragraph">
      If you'd like to get in touch, please drop me DM in Twitter, or message me through Linkedin. Stay well. 
    </div>


</div>
