---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container">
    <h1>Richard (Rick) Boardman PhD</h1>
    <ul>
      <li><a href="https://www.linkedin.com/in/richardboardman/">linkedin.com/in/richardboardman</a></li>
    </ul>
</div>
